In [2]:
import pandas as pd
import numpy as np
import tables
import datetime as dt


exchange = 'NSE'
symbol = "HDFC"
today = dt.datetime.now().strftime("%d_%m_%y")
sample_freq = '5min'

# OAuth Login

In [3]:
from kiteconnect import KiteConnect
import platform
from selenium import webdriver
import re

#logging.basicConfig(level=logging.DEBUG)

kite = KiteConnect(api_key="b2w0sfnr1zr92nxm")
#kite.login_url()

if platform.system() == "Windows":
        driver = webdriver.Chrome("./automation/chromedriver.exe")
else:
    driver = webdriver.Chrome("./automation/chromedriver")

driver.get(kite.login_url())

In [4]:
# Redirect the user to the login url obtained
# from kite.login_url(), and receive the request_token
# from the registered redirect url after the login flow.
# Once you have the request_token, obtain the access_token
# as follows.
request_token = re.findall("request_token=(.*)&action",driver.current_url)

data = kite.generate_session(request_token[0], api_secret="jtga2mp2e5fn29h8w0pe2kb722g3dh1q")
kite.set_access_token(data["access_token"])

driver.close()

# Stock List Download

In [5]:
def getInstruments(exchange='NSE'):
    instruments_df = pd.DataFrame(data=kite.instruments(exchange))
    instruments_df = instruments_df.set_index('tradingsymbol')
    return instruments_df

In [6]:
instruments_df = getInstruments(exchange)
instruments_df.to_hdf('kite_data/kite_data.h5', key=exchange+today,mode='a')

instruments_df[instruments_df['tradingsymbol']=='TCS']

# Historical Data Download

In [7]:
def downloadData(symbol="HDFC", fromDate= dt.datetime.now() - dt.timedelta(days = 1), toDate=dt.datetime.now(), freq="minute"):
    symbolToken = instruments_df.loc[symbol,'instrument_token']
    raw_data = pd.DataFrame(data=kite.historical_data(symbolToken, fromDate, toDate, freq, continuous=False))
    raw_data = raw_data.set_index('date').tz_localize(None)
    return raw_data

In [18]:
def resample(data,freq):
    data = data.resample(freq).agg({'open':'first','high':'max','low':'min','close':'last','volume':'sum'})
    #data.columns = data.columns.droplevel()
    return data

In [9]:
raw_data = downloadData()

raw_data.to_hdf('kite_data/kite_data.h5', key=symbol+today,mode='a')

In [19]:
resample(raw_data, sample_freq)

                        open     high      low    close  volume
date
2019-04-05 09:15:00  2045.00  2048.05  2035.00  2047.55  109213
2019-04-05 09:20:00  2047.45  2056.00  2047.05  2055.70  111520
2019-04-05 09:25:00  2055.30  2059.00  2054.15  2057.00   58952
2019-04-05 09:30:00  2057.40  2057.40  2051.15  2051.55   47270
2019-04-05 09:35:00  2050.05  2051.80  2049.00  2050.70   78126
2019-04-05 09:40:00  2051.00  2053.15  2050.00  2050.70   31274
2019-04-05 09:45:00  2050.90  2050.90  2045.55  2046.10   25359
2019-04-05 09:50:00  2046.70  2050.35  2046.10  2049.00  122384
2019-04-05 09:55:00  2049.00  2049.95  2048.00  2049.00   14511
2019-04-05 10:00:00  2049.00  2050.00  2048.45  2049.95   18615
2019-04-05 10:05:00  2049.95  2055.70  2049.95  2054.90   41297
2019-04-05 10:10:00  2055.00  2056.00  2053.00  2055.05   21368
2019-04-05 10:15:00  2055.05  2055.70  2053.00  2054.10   24652
2019-04-05 10:20:00  2054.10  2055.25  2053.45  2054.00   26694
2019-04-05 10:25:00  2054.25  2054.30  2053.00  2054.10    9514
2019-04-05 10:30:00  2054.10  2055.00  2053.50  2054.60   10943
2019-04-05 10:35:00  2055.00  2055.05  2053.70  2054.55   12415
2019-04-05 10:40:00  2054.75  2056.00  2053.65  2053.65   14386
2019-04-05 10:45:00  2053.65  2054.85  2053.15  2054.55   14640
2019-04-05 10:50:00  2054.55  2055.50  2053.00  2053.70   19072
2019-04-05 10:55:00  2053.90  2055.00  2053.00  2054.95   12911
2019-04-05 11:00:00  2055.00  2060.00  2053.00  2058.45   46948
2019-04-05 11:05:00  2059.00  2063.00  2057.60  2062.25   69910
2019-04-05 11:10:00  2061.75  2062.40  2058.30  2059.00   27518
2019-04-05 11:15:00  2059.00  2059.00  2055.05  2056.80   24850
2019-04-05 11:20:00  2056.80  2058.45  2055.45  2055.85   17819
2019-04-05 11:25:00  2055.85  2056.90  2055.00  2055.70   17445
2019-04-05 11:30:00  2055.65  2056.00  2055.00  2055.55   13260
2019-04-05 11:35:00  2055.75  2057.25  2055.25  2056.20   17740
2019-04-05 11:40:00  2056.20  2056.20  2051.05  2053.25   28857
...                      ...      ...      ...      ...     ...
2019-04-05 13:30:00  2057.90  2058.00  2056.10  2057.00   13447
2019-04-05 13:35:00  2057.00  2059.00  2056.40  2058.95   15321
2019-04-05 13:40:00  2058.95  2060.00  2057.05  2059.00   27373
2019-04-05 13:45:00  2058.95  2059.60  2057.50  2057.50   17370
2019-04-05 13:50:00  2057.25  2057.75  2054.80  2056.60   21007
2019-04-05 13:55:00  2056.60  2057.15  2055.00  2056.75   13823
2019-04-05 14:00:00  2056.90  2057.15  2052.80  2057.00   19335
2019-04-05 14:05:00  2056.65  2058.00  2055.90  2056.20   13916
2019-04-05 14:10:00  2056.45  2059.50  2054.80  2058.40   20278
2019-04-05 14:15:00  2058.40  2059.00  2056.10  2058.45   16124
2019-04-05 14:20:00  2058.70  2059.00  2056.05  2058.70   17793
2019-04-05 14:25:00  2058.95  2061.00  2056.85  2059.40   29012
2019-04-05 14:30:00  2059.35  2064.00  2057.30  2063.25   42867
2019-04-05 14:35:00  2063.05  2063.60  2057.20  2057.65   40850
2019-04-05 14:40:00  2057.60  2059.00  2056.25  2056.35   29922
2019-04-05 14:45:00  2056.35  2059.00  2054.40  2058.70   32775
2019-04-05 14:50:00  2058.65  2058.90  2056.00  2057.80   27014
2019-04-05 14:55:00  2057.35  2058.40  2057.10  2057.95   24762
2019-04-05 15:00:00  2057.95  2058.95  2055.35  2055.70   82686
2019-04-05 15:05:00  2055.65  2057.00  2054.60  2055.60   80328
2019-04-05 15:10:00  2055.75  2056.95  2055.25  2056.30   76832
2019-04-05 15:15:00  2056.30  2064.00  2054.55  2061.75  113637
2019-04-05 15:20:00  2062.00  2064.50  2060.85  2064.50  112625
2019-04-05 15:25:00  2064.35  2065.00  2056.30  2064.50  108166
2019-04-05 15:30:00  2064.50  2064.50  2059.20  2059.20     205
2019-04-05 15:35:00      NaN      NaN      NaN      NaN       0
2019-04-05 15:40:00  2059.20  2059.20  2059.20  2059.20     526
2019-04-05 15:45:00  2059.20  2059.20  2059.20  2059.20       5
2019-04-05 15:50:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:55:00  2059.20  2059.20  2059.20  2059.20     814

[81 rows x 5 columns]

# Filter Stocks

In [12]:
raw_data

                       close     high      low     open  volume
date
2019-04-05 09:15:00  2040.05  2048.05  2040.00  2045.00   37267
2019-04-05 09:16:00  2037.05  2040.25  2035.10  2040.00   25499
2019-04-05 09:17:00  2035.85  2037.55  2035.00  2036.55   18412
2019-04-05 09:18:00  2038.80  2038.80  2035.00  2035.90    7742
2019-04-05 09:19:00  2047.55  2047.55  2038.80  2038.80   20293
2019-04-05 09:20:00  2048.35  2051.00  2047.05  2047.45   34723
2019-04-05 09:21:00  2048.95  2049.90  2047.75  2048.30   18310
2019-04-05 09:22:00  2052.50  2053.30  2049.10  2049.10   29982
2019-04-05 09:23:00  2053.00  2055.35  2051.75  2052.50   15575
2019-04-05 09:24:00  2055.70  2056.00  2052.65  2053.00   12930
2019-04-05 09:25:00  2055.20  2055.70  2054.15  2055.30   10062
2019-04-05 09:26:00  2054.55  2055.70  2054.35  2055.30   12323
2019-04-05 09:27:00  2058.00  2059.00  2054.55  2054.55   18715
2019-04-05 09:28:00  2057.80  2058.90  2056.95  2058.90   10749
2019-04-05 09:29:00  2057.00  2057.80  2055.55  2057.05    7103
2019-04-05 09:30:00  2055.45  2057.40  2055.00  2057.40   11053
2019-04-05 09:31:00  2054.05  2055.30  2054.00  2055.00   11608
2019-04-05 09:32:00  2054.40  2055.00  2053.20  2054.55    6030
2019-04-05 09:33:00  2052.85  2054.60  2052.30  2054.40    9228
2019-04-05 09:34:00  2051.55  2053.50  2051.15  2053.20    9351
2019-04-05 09:35:00  2050.40  2051.80  2050.00  2050.05   15823
2019-04-05 09:36:00  2050.25  2051.00  2050.00  2051.00    7686
2019-04-05 09:37:00  2049.60  2051.00  2049.00  2050.25   16309
2019-04-05 09:38:00  2050.35  2050.35  2049.00  2049.50   34456
2019-04-05 09:39:00  2050.70  2051.60  2049.80  2050.95    3852
2019-04-05 09:40:00  2051.35  2051.40  2050.70  2051.00    6756
2019-04-05 09:41:00  2052.00  2053.15  2051.15  2051.15   12223
2019-04-05 09:42:00  2051.45  2052.00  2050.65  2052.00    5269
2019-04-05 09:43:00  2050.05  2051.90  2050.00  2051.45    5637
2019-04-05 09:44:00  2050.70  2051.25  2050.10  2050.20    1389
...                      ...      ...      ...      ...     ...
2019-04-05 15:16:00  2055.85  2059.25  2055.10  2056.35   22820
2019-04-05 15:17:00  2061.80  2061.85  2055.80  2055.90   21667
2019-04-05 15:18:00  2062.00  2064.00  2061.30  2061.30   28293
2019-04-05 15:19:00  2061.75  2062.00  2061.55  2061.60   14419
2019-04-05 15:20:00  2062.00  2062.00  2061.75  2062.00   19562
2019-04-05 15:21:00  2061.40  2062.00  2061.00  2061.95   35765
2019-04-05 15:22:00  2060.85  2062.00  2060.85  2061.85   20469
2019-04-05 15:23:00  2062.00  2062.00  2060.85  2061.40   20121
2019-04-05 15:24:00  2064.50  2064.50  2061.95  2061.95   16708
2019-04-05 15:25:00  2059.60  2065.00  2056.30  2064.35   42886
2019-04-05 15:26:00  2059.95  2060.55  2059.60  2059.60   11411
2019-04-05 15:27:00  2063.00  2064.00  2059.85  2059.90   17246
2019-04-05 15:28:00  2064.05  2065.00  2063.00  2063.00   21950
2019-04-05 15:29:00  2064.50  2065.00  2062.20  2064.05   14673
2019-04-05 15:30:00  2064.50  2064.50  2064.50  2064.50     205
2019-04-05 15:31:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:40:00  2059.20  2059.20  2059.20  2059.20      57
2019-04-05 15:41:00  2059.20  2059.20  2059.20  2059.20     100
2019-04-05 15:42:00  2059.20  2059.20  2059.20  2059.20       8
2019-04-05 15:43:00  2059.20  2059.20  2059.20  2059.20      56
2019-04-05 15:44:00  2059.20  2059.20  2059.20  2059.20     305
2019-04-05 15:45:00  2059.20  2059.20  2059.20  2059.20       5
2019-04-05 15:46:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:48:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:50:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:53:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:55:00  2059.20  2059.20  2059.20  2059.20     811
2019-04-05 15:56:00  2059.20  2059.20  2059.20  2059.20       3
2019-04-05 15:58:00  2059.20  2059.20  2059.20  2059.20       0
2019-04-05 15:59:00  2059.20  2059.20  2059.20  2059.20       0

[391 rows x 5 columns]

# Live Data resampling

# Indicators calculation

# Algorithm

# Visualization

# WebSocket Handler

In [ ]:
import multiprocessing

def worker():
    """worker function"""
    print 'Worker'
    return

if __name__ == '__main__':
    jobs = []
    for i in range(5):
        p = multiprocessing.Process(target=worker)
        jobs.append(p)
        p.start()