In [2]:
import pandas as pd
from kiteconnect import KiteConnect

KiteAPIKey = "b2w0sfnr1zr92nxm"
KiteAPISecret = "jtga2mp2e5fn29h8w0pe2kb722g3dh1q"
kite = KiteConnect(api_key=KiteAPIKey)

f = open("kite_data/access_token.txt", mode="r")
access_token = f.readlines()
kite.set_access_token(access_token[0])
f.close()

%run "KiteConnect_Library.ipynb"

In [29]:
#pd.read_hdf("kite_data")
pd.HDFStore("kite_data/kite_data.h5").close()

In [9]:
instruments_df = pd.read_hdf('kite_data/kite_data.h5', key="NSE", mode='a')

EQSYMBOL = lambda x:instruments_df[instruments_df['instrument_token']==x].index[0]
EQTOKEN = lambda x:instruments_df.loc[x,'instrument_token']

In [68]:
exchange = "NSE"
symbol = "HDFC"
freq = "day"

key = freq+"/"+exchange+"/"+symbol

In [126]:
temp_data = downloadData(symbol,  fromDate = dt.datetime(2019,4,10), toDate = dt.datetime(2019,4,12), freq = freq)
temp_data.to_hdf("kite_data/kite_cache.h5", key=key, mode="a", format="table")

In [127]:
symbol = "SBIN"
key = freq+"/"+exchange+"/"+symbol
temp_data = downloadData(symbol,  fromDate = dt.datetime(2019,4,10), toDate = dt.datetime(2019,4,12), freq = freq)
temp_data.to_hdf("kite_data/kite_cache.h5", key=key, mode="a", format="table")

In [128]:
temp_data

             close    high    low    open    volume
date
2019-04-10  310.90  317.05  310.0  314.85  19237974
2019-04-11  314.90  315.40  308.7  311.00  14897935
2019-04-12  315.25  316.40  311.2  314.60  14751964

In [129]:
rDate = pd.HDFStore("kite_data/kite_cache.h5").get('/day/NSE/SBIN').tail(1).index

In [130]:
lDate = pd.HDFStore("kite_data/kite_cache.h5").get('/day/NSE/SBIN').head(1).index

In [131]:
lDate, rDate

(DatetimeIndex(['2019-04-10'], dtype='datetime64[ns]', name='date', freq='D'),
 DatetimeIndex(['2019-04-12'], dtype='datetime64[ns]', name='date', freq='D'))

In [198]:
symbol = "SBIN"
key = freq+"/"+exchange+"/"+symbol

temp_data = downloadData(symbol,  fromDate = dt.datetime(2019,4,10), toDate = dt.datetime(2019,4,12), freq = freq)
temp_data.to_hdf("kite_data/kite_cache.h5", key=key, mode="a", format="table")

In [199]:
temp_data

             close    high    low    open    volume
date
2019-04-10  310.90  317.05  310.0  314.85  19237974
2019-04-11  314.90  315.40  308.7  311.00  14897935
2019-04-12  315.25  316.40  311.2  314.60  14751964

New data will be downloaded if:
1. fromDate < lDate and toDate < lDate                        : download fromDate to lDate
2. fromDate < lDate and toDate >= lDate and toDate <= rDate   : download fromDate to lDate
3. fromDate >= lDate and toDate <= rDate                      : No Download
4. fromDate >=lDate and toDate > rDate and fromDate <= rDate  : download rDate to toDate
5. fromDate > rDate and toDate > rDate                        : download rDate to toDate
6. fromDate < lDate and toDate > rDate                        : download fromDate to lDate and rDate to toDate

In [99]:
getData("HDFCBANK", dt.datetime.now()-dt.timedelta(days=30),dt.datetime(2019,4,18,14,30),freq="day")

Downloading data from rDate to toDate

              close     high      low     open    volume
date
2019-03-20  2299.00  2300.00  2261.05  2269.00   2927998
2019-03-22  2276.15  2307.00  2270.80  2300.00   7600970
2019-03-25  2281.30  2287.85  2253.00  2260.00   2299815
2019-03-26  2311.35  2315.00  2272.60  2275.90   2946712
2019-03-27  2299.45  2328.05  2279.05  2318.55   3471325
2019-03-28  2302.80  2325.00  2287.85  2298.80   4888582
2019-03-29  2318.90  2325.00  2294.00  2304.60   2986742
2019-04-01  2311.80  2332.00  2304.60  2325.25   2411769
2019-04-02  2294.85  2320.00  2285.45  2320.00   2727624
2019-04-03  2292.75  2316.00  2288.25  2292.10   1914863
2019-04-04  2283.95  2313.00  2280.00  2292.75   2302888
2019-04-05  2305.60  2313.75  2282.00  2287.80   2087795
2019-04-08  2289.40  2322.95  2280.10  2319.00   1599533
2019-04-09  2287.25  2303.00  2267.00  2296.60   2694400
2019-04-10  2237.35  2284.00  2231.00  2250.00  27032175
2019-04-11  2257.50  2263.00  2236.95  2244.90   2198325
2019-04-12  2265.25  2272.20  2252.10  2252.10   2292611
2019-04-15  2288.80  2292.90  2264.35  2270.00   2554945
2019-04-16  2305.05  2309.90  2280.30  2290.95   2068444
2019-04-18  2300.35  2315.05  2295.85  2313.00   2064352